#navbar {
    display: flex;
    align-items: center;
    margin-left: 290px;
 }
 
 #logo {
    margin-right: 20px; /* Add space between logo and links */
 }
 
 a {
    font-size: 17px;
    font-weight: bolder;
    text-decoration: none;
    margin-right: -85px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 113px;
    margin-top: 5px;
 }
 
 #up {
    margin-left: auto; /* Move the Sign up button to the right */
    padding: 12px 15px;
    border-radius: 10px;
    background: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 #nav {
    margin-left: -204px;
    margin-top: 16px;
    padding: 0px 3px -6px;
 }
 
 /* The design is inspired from Galahhad*/
 
 .popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: #00bf63;
    --burger-color: #333;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 3.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: 0.3s;
    --burger-transition: all 0.1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: 0.95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, 0.2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: "Poppins", sans-serif;
    --nav-default-scale: 0.8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 17px;
    --nav-button-hover-bg: #00bf63;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
  }
  
  /* popup settings 👆 */
  
  .popup {
    display: inline-block;
    text-rendering: optimizeLegibility;
    position: relative;
  }
  
  .popup input {
    display: none;
  }
  
  .burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--burger-bg);
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    border-radius: var(--burger-btn-border-radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: var(--burger-transition);
    outline: var(--burger-enable-outline-width) solid transparent;
    outline-offset: 0;
    position: absolute;
    top: -25px;
    left: 316px;
  }
  
  .popup-window {
    transform: scale(var(--nav-default-scale));
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: var(--nav-padding-y) var(--nav-padding-x);
    background: var(--nav-bg);
    font-family: var(--nav-font-family);
    color: var(--nav-text-color);
    border-radius: var(--nav-border-radius);
    box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
    border: var(--nav-border-width) solid var(--nav-border-color);
    top: calc(
      var(--burger-diameter) + var(--burger-enable-outline-width) +
        var(--burger-enable-outline-offset)
    );
    left: var(--nav-position-left);
    right: var(--nav-position-right);
    transition: var(--burger-transition);
    margin-top: -28px;
    margin-left: 296px;
  }
  
  .popup-window legend {
    padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
    margin: 0;
    color: var(--nav-title-color);
    font-size: var(--nav-title-size);
    text-transform: uppercase;
  }
  
  .popup-window ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .popup-window ul button {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    color: var(--burger-color);
    font-size: var(--nav-button-font-size);
    padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
    white-space: nowrap;
    border-radius: var(--nav-button-border-radius);
    cursor: pointer;
    column-gap: var(--nav-button-distance);
  }
  
  .popup-window ul li:nth-child(1) svg,
  .popup-window ul li:nth-child(2) svg {
    color: #00bf63;
  }
  
  .popup-window ul li:nth-child(4) svg,
  .popup-window ul li:nth-child(5) svg {
    color: rgb(153, 153, 153);
  }
  
  .popup-window ul li:nth-child(7) svg {
    color: red;
  }
  
  .popup-window hr {
    margin: var(--underline-margin-y) 0;
    border: none;
    border-bottom: var(--underline-border-width) solid
      var(--underline-border-color);
  }
  
  /* actions */
  
  .popup-window ul button:hover,
  .popup-window ul button:focus-visible,
  .popup-window ul button:hover svg,
  .popup-window ul button:focus-visible svg {
    color: var(--nav-button-hover-text-color);
    background: var(--nav-button-hover-bg);
  }
  
  .burger:hover {
    transform: scale(var(--burger-hover-scale));
  }
  
  .burger:active {
    transform: scale(var(--burger-active-scale));
  }
  
  .burger:focus:not(:hover) {
    outline-color: var(--burger-enable-outline-color);
    outline-offset: var(--burger-enable-outline-offset);
  }
  
  .popup input:checked + .burger span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  
  .popup input:checked + .burger span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
  
  .popup input:checked + .burger span:nth-child(3) {
    transform: translateX(
      calc(var(--burger-diameter) * -1 - var(--burger-line-width))
    );
  }
  
  .popup input:checked ~ nav {
    transform: scale(var(--nav-active-scale));
    visibility: visible;
    opacity: 1;
  }
  
  #sign {
    position: absolute;
    left: 925px;
  }
 
 
 hr {
    margin-top: 20px;
 }
 
 #center {
    background-color: #faf9f9;
    height: 600px;
 }
 
 #center1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 1.2;
 }
 
 #center2 {
   
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-size: 20px;
       font-weight: lighter;
   
 }
 
 h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 #centerb {
    margin-left: 84px;
    margin-top: 60px;
 }
 
 #centerig {
    position: absolute;
    right: 100px;
    height: 430px;
    top: 120px;
 }
 
 .btn {
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-left: -5px;
    margin-right: 20px;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
 
  a:hover{
    text-decoration: underline;
  }
 
  #ff {
   background-color: black;
   color: white;
   padding: 15px 10px 15px;
  }
 
  span {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-weight: bolder;
   padding: 10px 25px 10px;
  }
 
  #ff {
   white-space: nowrap;
   overflow: hidden;
 }
 
 #ff span {
   display: inline-block;
   animation: slide 5s linear infinite;
   padding: 10px 25px;
   /* Reverse the text direction */
   direction: rtl;
   /* Start from the right */
   text-align: right;
 }
 
 @keyframes slide {
   0% { transform: translateX(100%); } /* Start from the right */
   100% { transform: translateX(-100%); } /* Move to the left */
 }
 
 #hc {
   font-size: 50px;
   padding: 13px 70px 20px;
 }
 
 
 
 #box1 {
   border: 1px solid black;
   width: 281px;
   height: 205px;
   padding: 10px 10px 10px;
   border-radius: 5px;
 }
 
 #boxes {
   display: flex;
 justify-content: space-between;
 padding: 17px 15px 23px;
 }
 
 #emal {
   display: flex;
   justify-content: center;
   margin-top: 3px;
   font-size: 31px;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 #lp {
   display: flex;
   justify-content: center;
   margin-left: 11px;
   font-family: Arial, Helvetica, sans-serif;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: lighter;
     margin-top: 10px; /* Adjust the value as needed */
  
  
 }
 
 #art {
   height: 490px;
   margin-left: 150px;
   margin-top: 50px;
 }
 
 #cdn {
   margin-left: 775px;
   margin-top: -500px;
   font-size: 25px;
 }
 #g {
   position: absolute;
   top: 1522px;
   right: 53px;
 }
 
 #l {
   padding: 20px 0px 1px;
 }
 
 #on {
   position: absolute;
   right: 355px;
   top: 1582px;
 }
 
 #rt {
   
   position: absolute;
   right: 175px;
   top: 1640px;
 }
 
 #tr {
   position: absolute;
   top: 1700px ;
   right: 200px;
 }
 
 #yu {
   position: absolute;
   right: 315px;
   top: 1760px;
 }
 
 h4{
   font-family:Arial, Helvetica, sans-serif ;
   font-size:23px ;
 }
 
 #org {
   margin-left: 870px;
   font-size: 40px;
   margin-top: 80px;
 }
 
 #h {
   margin-left: 780px;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 #o {
   margin-left: 661px;
   margin-top: -10px;
 }
 #i {
   margin-left: 755px;
   font-size: 15px;
 }
 
 #j {
   font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 #d {
   margin-left: 777px;
 }
 
 #uo {
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 #line {
   height: 1292px;
   width: 2px;
   margin-left: 660px;
   margin-top: -71px;
   color: black;
   background-color: black;
   position: absolute;
   top: 1397px;
 }
 
 #hj {
   position: absolute;
   margin-left: -447px;
   height: 391px;
   margin-top: 643px;
 }
 
 body {
   font-family: Arial, Helvetica, sans-serif;
 }
 
 #tex {
   margin-left: 100px;
   font-size: 35px;
 }
 
 #bud {
   border: 0.5px solid black;
   padding: 8px 8px 8px;
   background: black;
   color: white;
   border-radius: 9px;
 }
 
 #bud:hover {
   text-decoration: none;
 }
 
 #boxa {
   margin-left: -15px;
   margin-top: 45px;
 }
 
 #bud3 {
   border: 0.5px solid black;
   padding: 8px 8px 8px;
   border-radius: 9px;
 }
 
 
 #bud3:hover {
   text-decoration: none;
 }
 
 #bud4 {
   border: 0.5px solid black;
   padding: 8px 8px 8px;
   border-radius: 9px;
 }
 
 #bud4:hover  {
 text-decoration: none;
 }
 
 #boxof {
   width: 1160px;
   height: 415px;
   border: 1px solid white;
   margin-left: 98px;
   margin-top: 65px;
   border-radius: 20px;
   background: #f9f9f9;
 }
 
 #qa {
   padding: 8px 31px 20px;
   font-size: 40px;
 }
 
 #c {
   margin-left: 30px;
 }
 
 #cn {
   margin-left: 64px;
   margin-top: -25px;
 }
 
 #main-poto {
   margin-left: 660px;
   margin-top: -300px;
   border: 1px solid black;
   border-radius: 14px;
   position: absolute;
 }
 
 .btnr {
   justify-content: center;
   align-items: center;
   width: 13rem;
   overflow: hidden;
   height: 3rem;
   background-size: 300% 300%;
   backdrop-filter: blur(1rem);
   border-radius: 5rem;
   transition: 0.5s;
   animation: gradient_301 5s ease infinite;
   border: double 4px transparent;
   background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
   background-origin: border-box;
   background-clip: content-box, border-box;
   margin-left: 30px;
     margin-top: 10px;
 }
 
 .btnr:active {
   border: double 4px #FE53BB;
   background-origin: border-box;
   background-clip: content-box, border-box;
   animation: none;
 }
 
 #notf {
   background-color: #251b1b;
   color: white;
   height: 500px;
 }
 
 #se {
   padding: 120px 1px 1px;
   display: flex;
   justify-content: center;
   font-size: 35px;
 }
 
 #ou {
   position: absolute;
   left: 500px;
 }
 
 #ug {
   margin-left: 570px;
   margin-top: 40px;
 }
 
 #main-potot {
   margin-left: 650px;
   margin-top: -250px;
 }
 
 #mainer-text{
 padding: 100px 10px;
 
 }
 
 #mainer {
   background-color: #262029;
   margin-left: -108px;
   width: 1355px;
   color: white;
 height: 840px;
 }
 
 #texti {
   display: flex;
   justify-content: space-evenly;
   margin-left: -45px;
   padding: 1px 92px 1px;
   margin-top: -75px;
 }
 
 #date {
   margin-left: 120px;
   font-size: 50px;
   margin-top: -5px;
 }
 
 #box10 {
   border-radius: 8px;
   background-color: #302d3d;
   width: 395px;
   height: 270px;
     font-size: 26px;
     margin-left: 30px;
     margin-top: 30px;
 }
 
 
 #box15 {
   border-radius: 8px;
   background-color: #302d3d;
   width: 395px;
   height: 270px;
   font-size: 26px;
   margin-left: 30px;
   margin-top: 30px;
 }
 
 #box20 {
   border-radius: 8px;
   background-color: #302d3d;
   width: 395px;
   height: 270px;
   font-size: 26px;
   margin-left: 30px;
   margin-top: 30px;
 }
 
 #box-10-text {
   padding: 3px 31px 7px;
   font-size: 30px;
   margin-top: 30px;
 }
 
 #box-15-text {
   padding: 3px 31px 7px;
   font-size: 30px;
   margin-top: 30px;
 }
 #box-20-text {
   padding: 3px 31px 7px;
   font-size: 30px;
   margin-top: 30px;
 }
 
 #os {
   font-size: 16px;
   color: #b198bd;
   margin-top: -38px;
   padding: 1px 45px 1px;
   margin-left: -12px;
 }
 
 #ol {
   margin-left: 33px;
   margin-top: 18px;
   color: yellowgreen;
 }
 
 #ogimg {
   margin-left: 135px;
 }
 
 #ogime {
   margin-top: -63px;
 }
 
 #emala {
   height: 45px;
   width: 292px;
   padding: 3px 19px 1px;
   border-radius: 15px;
 }
 
 #subs {
   height: 55px;
   width: 144px;
   border-radius: 14px;
   background: black;
   color: white;
   font-size: 20px;
   margin-left: 10px;
 }
 
 #r {
   font-size: .75rem;
 }
 
 #nws {
   font-size: 15px;
 }
 
 #of {
   font-size: 20px;
 }
 
 #flexi {
   margin-top: -297px;
   margin-left: 150px;
   display: flex;
   justify-content: space-around;
 }
 
 
 footer {
   
     margin-top: 90px;
 
 }
 
 #flexi {
   display: flex;
   flex-direction: column;
   align-items: center; /* Align items vertically in the center */
 }
 
 #pj {
   font-size: 16px;
   padding: 0px 1px;
   margin-top: -6px;
 }
 
 #flexii {
   margin-top: 4px;
   position: absolute;
   margin-left: 935px;
 }
 
 
 #pjj {
   margin-top: -6px;
   font-size: 17px;
 }
 
 #pjjj {
   font-size: 16px;
   margin-top: -6px;
 }
 
 
 #ipj {
   margin-left: 500px;
   margin-top: -203px;
 }
 
 